/* Make shared height search results gallery boxes */
.discovery-result-results div.searchResultsWrap {
	display: flex;
	flex-wrap: wrap;
}
.discovery-result-results div.searchResultBox {
	margin-bottom: 1em;
	border-radius: 0;
}

/* Make fixed width but still proportional thumbnails. */
.discovery-result-results a.searchResultThumbnail {
	display: block;
}
.discovery-result-results div.searchResultThumbnailPlaceholder {
	height: 160px;
	color: white; /* Remove color from link */
}
.discovery-result-results div.searchResultThumbnailPlaceholder table {
	height: 100%;
	width: 100%;
}
.discovery-result-results div.searchResultThumbnailPlaceholder table span {
	font-size: 4em;
	vertical-align: middle;
	text-align: center;
}

/* Position search result box's view button to the bottom */
.discovery-result-results div.searchResultBox {
	position: relative;
	padding-bottom: 4em;
}
.discovery-result-results div.searchResultBoxButton {
	position: absolute;
	left: 50%;
	margin-left: -2.5em;
	bottom: 0.5em;
}
.discovery-result-results div.searchResultBoxButton a {
	width: 5em;
	height: 2.5em;
}

/* Selection step overlay */
#selectCollectionStepOverlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1001; /* navbar has an z-index of 1000 for some reason */
	background-color: rgba(0,0,0,0.9);
}
#selectCollectionStepOverlayModal {
	width: 30em;
    height: 5.5em;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    text-align: center;
    z-index: 1002; /* 1px higher than the overlay layer */
}

/* Display item subjects list customization */
.subjectsList span.label {
	display: inline-flex;
	padding-top: 0.3em;
	font-size: 85%;
	margin-bottom: 0.1em;
	overflow: hidden;
}
.subjectsList span.label div {
	overflow: hidden;
	text-overflow: ellipsis;
}

.subjectsList span.level1 {
	background: dimgray;
}
.subjectsList span.level2 {
	background: slategray;
}
.subjectsList span.level3 {
	background: steelblue;
}

/* Display item resource types customization */
span.label.labelResource {
	background: mediumseagreen;
	display: inline-block;
	margin-bottom: 0.2em;
	padding-top: 0.4em;
	font-size: 1em;
}

/* Display Item Access Restrictions */
.restrictionIconColorEveryone {
	color: darkseagreen;
}
.restrictionIconColorInstructorOnly {
	color: lightpink;
}

/* Search item resource type customization */
span.label.labelResourceForSearch {
	background: mediumseagreen;
	display: inline-block;
	font-size: 0.8em;
	padding-top: 0.3em;
}
div.searchResultResourceTypes {
	margin-top: 0.5em;
}

/* Display item thumbnail placeholder */
div.displayItemThumbnailPlaceholder {
	background: cornsilk;
	height: 100px;
	width: 100px;
	color: wheat;
}
div.displayItemThumbnailPlaceholder table {
	height: 90%;
	width: 100%;
}
div.displayItemThumbnailPlaceholder table span {
	font-size: 2em;
	vertical-align: middle;
	text-align: center;
}