/* Edit Profile */
a#showHidePassword
{
	cursor: pointer;
	color: dodgerblue;
}
a#showHidePassword:hover
{
	color: black;
}
/* Import Community & Collection */
pre.pre-horiz-scroll
{
	white-space: pre;
	overflow-x: scroll;
}
/* Edit Metadata / Describe Step */
.editMetadataRemovableField {
	margin-top: 0.5em;
}
.editMetadataRemovableField input {
	width: 90%;
	display: inline-block;
}
.editMetadataRemoveEntryButton {
	float: none;
}

/* MyDSpace */
.MyDSpaceActionButtons {
	min-width: 7.5em;
}

/* Home */
.homeCommunityBox:hover {
	background-color: #ddeefe;
	border-radius: 10px;
	text-decoration: none;
}
.homeCommunityBoxLogo {
	max-height: 80px;
	margin: 0 auto;
}

/* Override Stock Navbar */
.navbar-inverse {
	background: #002145;
	border-radius: 0;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
}
.navbar-inverse .navbar-nav > li.active > a {
	background: #004694;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li.active > a:hover {
	background: #0059bb;
}

/* UBC Banner & footer */
.ubcBanner a:hover {
	text-decoration: none;
}
.ubcFooter {
	color: white;
	background: #002145;
	box-shadow: 0 50vh 0 50vh #002145;
}