/* Edit Profile */
.password-strength-0 /* weakest */
{
	color: crimson;
}
.password-strength-1
{
	color: orangered;
}
.password-strength-2
{
	color:goldenrod;
}
.password-strength-3
{
	color: olivedrab;
}
.password-strength-4 /* strongest */
{
	color: green;
}
a#showHidePassword
{
	cursor: pointer;
	color: dodgerblue;
}
a#showHidePassword:hover
{
	color: black;
}
/* Import Community & Collection */
pre.pre-horiz-scroll
{
	white-space: pre;
	overflow-x: scroll;
}
/* Edit Metadata / Describe Step */
.editMetadataRemovableField {
	margin-top: 0.5em;
}
.editMetadataRemovableField input {
	width: 90%;
	display: inline-block;
}
.editMetadataRemoveEntryButton {
	float: none;
}