/* Edit Profile */
a#showHidePassword
{
	cursor: pointer;
	color: dodgerblue;
}
a#showHidePassword:hover
{
	color: black;
}
/* Import Community & Collection */
pre.pre-horiz-scroll
{
	white-space: pre;
	overflow-x: scroll;
}
/* Edit Metadata / Describe Step */
.editMetadataRemovableField {
	margin-top: 0.5em;
}
.editMetadataRemovableField input {
	width: 90%;
	display: inline-block;
}
.editMetadataRemoveEntryButton {
	float: none;
}

/* MyDSpace */
.MyDSpaceActionButtons {
	min-width: 7.5em;
}

/* Home */
.homeCommunityBox:hover {
	background-color: #ddeefe;
	border-radius: 10px;
	text-decoration: none;
}
.homeCommunityBoxLogo {
	max-height: 80px;
	margin: 0 auto;
}